@charset "UTF-8";

// ==========================================================================
// t-top-utility
// ==========================================================================
.top{

	// --------------------------
	// メインコンテンツ
	// --------------------------
	.p-mainvisual{
		&__wrap{
			padding: 5rem 0 4rem;
			@include flexbox();
			@include justify-content(space-between);
			@include align-items(center);
			@include flex-wrap(wrap);
			@include mq-min(sm) {
				max-width: 100rem;
				margin: 0 auto;
				padding: 7rem 0;
			}
			&-sentence{
				flex-basis: 100%;
				padding: 0 1rem;
				margin-bottom: 2.5rem;
				@include mq-min(sm) {
					flex-basis: 55%;
				}
				@include mq-min(lg) {
					padding: 0;
				}
				.title{
					color: #fff;
					@include en;
					font-size: 6.5rem;
					text-align: center;
					@include mq-min(sm) {
						font-size: 8rem;
						text-align: left;
						margin-bottom: .5rem;
					}
					@include mq-min(lg) {
						font-size: 10rem;
					}
				}
				.text{
					color: #fff;
					font-size: 1.4rem;
					text-align: center;
					@include mq-min(sm) {
						font-size: 1.8rem;
						text-align: left;
						line-height: 1.6;
					}
				}
			}
			&-image{
				flex-basis: 100%;
				padding: 0 1rem;
				transform: rotate(2deg);
				max-width: 40rem;
				margin: 0 auto;
				@include mq-min(sm) {
					flex: 1;
					max-width: none;
				}
				@include mq-min(lg) {
					padding: 0 1rem 0 0;
				}
			}
		}
	}

	// --------------------------
	// スキル
	// --------------------------
	.p-skill{
		&__title{
            margin-bottom: 1rem;
			@include mq-min(sm) {
				margin-bottom: 0;
			}
        }
		&__item{
			@include flexbox();
			@include justify-content(center);
			@include flex-wrap(wrap);
			row-gap: 2rem;
			column-gap: 5%;
			@include mq-min(sm) {
				@include justify-content(space-between);
				gap: initial ;
			}
			&-list{
				flex-basis: 47.5%;
				@include mq-min(sm) {
					flex-basis: 32%;
				}
				&:first-child{
					flex-basis: 100%;
					@include mq-min(sm) {
						flex-basis: 32%;
					}
				}
			}
		}
	}


	// --------------------------
	// 実績
	// --------------------------
	.p-achievements{

		// コンテンツタイトル
		&__title{
			margin-bottom: .5rem;
			color: #FFF8F3;
		}
		&__text{
			margin-bottom: 2rem;
			color: #FFF8F3;
			@include mq-min(sm) {
				margin-bottom: 3rem;
			}
		}

		&__group{
			@include flexbox();
			@include justify-content(space-between);
			@include flex-wrap(wrap);
			row-gap: 2rem;
			@include mq-min(sm) {
				row-gap: 3rem;
			}
		}
		&__item{
			flex-basis: 100%;
			border: .2rem solid #1d3b35;
			border-radius: 1rem;
			box-shadow: .3rem .3rem 0 0 #1d3b35;
			overflow: hidden;
			padding-bottom: 2rem;
			background: #fff;
			@include mq-min(sm) {
				flex-basis: 31%;
			}
			&-image{
				margin-bottom: 1rem;
				border-bottom: .1rem solid #1d3b35;
			}
			&-ttl{
				font-size: 1.8rem;
				color: #1d3b35;
				font-weight: bold;
				text-align: center;
				margin-bottom: .5rem;
				padding: 0 1rem;
			}
			&-text{
				font-size: 1.4rem;
				text-align: center;
				color: #1d3b35;
				padding: 0 1rem;
			}
		}

	}

	// --------------------------
	// ABOUT
	// --------------------------
	.p-about{
		&__title{
			margin-bottom: 1rem;
		}
		&__text{
			margin-bottom: 3rem;
		}
		&__img{
			max-width: 30rem;
			margin: 0 auto;
		}
	}








}