@charset "UTF-8";

// ==========================================================================
// l-detail-grild
// ==========================================================================


// --------------------------
// 共通
// --------------------------
// メインビジュアル
.l-title{
    margin-bottom: 1rem;
}

// 導入
.l-intro{
    .l-contener{
        padding: 2rem 0 0;
        @include mq-min(sm) {
            padding: 3rem 0 0;
        }
    }
}

.l-explain{
    .l-contener{
        padding: 5rem 0 0;
        @include mq-min(sm) {
            padding: 7rem 0 0;
        }
    }
}