@charset "UTF-8";

// ==========================================================================
// l-main
// ==========================================================================

main{
    overflow: hidden;
}

// --------------------------
// 戻る
// --------------------------
.l-back{
    .l-contener{
        padding: 6rem 0;
        @include mq-min(sm) {
            padding: 9rem 0;
        }
    }
}