@charset "UTF-8";

// ==========================================================================
// l-top-grid
// ==========================================================================
.top{

    // --------------------------
    // メインビジュアル
    // --------------------------
    .l-mainvisual{
        background: #FF7C2D;
        position: relative;
        &::after{
            content: "";
            background: url(/asset/img/common/pattern-checkered_sp.png)repeat-x;
            background-size: contain;
                background-position: center;
            position: absolute;
            bottom: -3.5rem;
            left: 0;
            width: 100%;
            height: 3.5rem;
            @include mq-min(sm) {
                content: "";
            background: url(/asset/img/common/pattern-checkered.png)repeat-x;
            background-size: contain;
            background-position: center;
            bottom: -6rem;
            height: 6rem;
            }
        }
    }


    // --------------------------
	// スキル
	// --------------------------
    .l-skill{
        position: relative;
        &::after{
            content: "";
            background: url(/asset/img/common/pattern-checkered-white_sp.png)repeat-x;
            background-size: contain;
                background-position: center;
            position: absolute;
            bottom: -3.5rem;
            left: 0;
            width: 100%;
            height: 3.5rem;
            z-index: 1;
            @include mq-min(sm) {
                content: "";
            background: url(/asset/img/common/pattern-checkered-white.png)repeat-x;
            background-size: contain;
            background-position: center;
            bottom: -6rem;
            height: 6rem;
            }
        }
        .l-contener{
            padding: 10rem 0 6rem;
            @include mq-min(sm) {
                padding:15rem 0 10rem;
            }
        }
    }

    // --------------------------
	// 実績
	// --------------------------
    .l-achievements{
        background: #217474;
        position: relative;
        &::after{
            content: "";
            background: url(/asset/img/common/pattern-checkered-white_sp.png)repeat-x;
            background-size: contain;
            background-position: center;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 3.5rem;
            z-index: 1;
            @include mq-min(sm) {
                content: "";
            background: url(/asset/img/common/pattern-checkered-white.png)repeat-x;
            background-size: contain;
            background-position: center;
            height: 6rem;
            }
        }
        .l-contener{
            padding: 10rem 0;
            @include mq-min(sm) {
                padding: 16rem 0;
            }
        }
    }


    // --------------------------
	// About
	// --------------------------
    .l-about{
        .l-contener{
            padding: 6rem 0;
            @include mq-min(sm) {
                padding: 9rem 0;
            }
        }
    }




}