@charset "UTF-8";
@import "../utility/_utility";


// ==========================================================================
// ヘッダー
// ==========================================================================

.Header{
    background: rgba(#000, 0.2);
    &__Inner{
        &__Flex{
            @include column;
        }
    }

    &__Logo{
        width: 0px;
    }
}

.BtnOpen,.BtnClose{
    width: 20px;
}