@charset "UTF-8";

// ==========================================================================
// 
// ==========================================================================

.achievements-detail{

	// 説明
    .u-mt{
        margin-top: 2rem;
        @include mq-min(sm) {}
        margin-top: 4rem;
    }
}