@charset "UTF-8";

// ==========================================================================
// f-font
// =======================================================


@mixin noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-feature-settings: "palt";
}

@mixin en {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    letter-spacing: .1rem;
    font-feature-settings: normal;
}
